/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v13-latin-700.woff2") format("woff2"); /*Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  background-color: #c5e4e7;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  height: 481px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 304px;
  background-color: #fff;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-family: "Space Mono", sans-serif;
}

h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 32px;
}

main {
  flex-grow: 1;
}
.main-div {
  width: 920px;
  height: 481px;
  top: 304px;
  left: 260px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 0px 32px 43px 0px #4fa6af33;
  align-items: center;
}
.left-div {
  width: 379px;
  height: 388px;
  margin-top: 45px;
  margin-left: 48px;
}
.group-one {
  display: flex;
  flex-direction: column;
  width: 379px;
  height: 78px;
}
.group-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: left;
}
.group-img {
  width: 379px;
  height: 48px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #f3f9fa;
  margin: 0;
  font-family: "Space Mono", sans-serif;

  &:active {
    border: 2px solid #26c2ae;
  }
}
.group-logo {
  margin-left: 19px;
  margin-top: 16px;
}
.group-price {
  margin-top: 6px;
  width: 89px;
  height: 36px;
  color: #00474b;
  font-family: "Space Mono", sans-serif;
  &:hover{
    #26C2AE
  }

  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: right;
  font-family: "Space Mono", sans-serif;

  margin-right: 17px;
}

.group-two__list-two {
  width: 379px;
  height: 78px;
}
.list-one__item {
  gap: 14px;
}
.list-one__link {
  width: 117px;
  height: 48px;
  background-color: #00474b;
  border-radius: 8px;
  font-size: 24px;
  color: #fff;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", sans-serif;
}
.group-two {
  margin-top: 40px;
}
.group-two__list-two {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.group-two__list-one {
  font-family: "Space Mono", sans-serif;
  display: flex;
  gap: 14px;
}

.list-one__link-two {
  width: 117px;
  height: 48px;
  background-color: #00474b;
  border-radius: 8px;
  font-size: 24px;
  color: #fff;
  margin-top: 16px;
  font-family: "Space Mono", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.list-one__item {
  align-items: center;
}

.group-3 {
  margin-top: 40px;
}
.group-logo-img {
  margin-top: 16px;
  margin-left: 17px;
  color: #fff;
}
.right-div {
  width: 413px;
  height: 417px;
  background-color: #00474b;
  border-radius: 10px;
  margin-left: 48px;
  margin-top: 32px;
}
.main-div {
  display: flex;
}
.right-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.section-item {
  color: #fff;

  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: left;
  font-family: "Space Mono", sans-serif;
}
.section-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 40px;
  font-family: "Space Mono", sans-serif;
  margin-right: 40px;
}
.section-price {
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  text-align: right;
  font-family: "Space Mono", sans-serif;
  color: #26c2ae;
}
.list-one__link-two:hover {
  background-color: #26c2ae;
  color: #00474b;
}
.main-btn-reset {
  font-size: 20px;
  font-weight: 700;
  font-family: "Space Mono", sans-serif;
  color: #00474b;
  
}
.main-li {
  width: 333px;
height: 48px;
margin-top: 120px;
margin-left: 40px;
&:hover {
  background-color: #9FE8DF;
}
&:active {
background-color: #0D686D;
color: #00474B;
}

background-color:#26c2ae ;
align-items: center;
display: flex;
flex-direction: center;
justify-content: center;
border-radius:8px;
}
.main-title {
  width: 256px;
height: 30px;
top: 9px;
left: 37px;
gap: 0px;
opacity: 0.35px;
font-family: Space Mono;
font-size: 20px;
font-weight: 700;
line-height: 29.62px;
text-align: center;

}
